@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/Norse-Bold.otf");
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(./imgs/hero_back01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(46, 46, 46);
    width: 40vw;
}

.odin-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.363);
    position: absolute;
    top: 21%;
    width: 100%;
    padding: 10px 0;
}

.odin-container p{
    font-family: "Norse Bold";
    color: white;
    font-size: 90px;
}

.img-author{
    font-size: 15px;
    color: white;
    margin-top: auto;
    text-align: center;
    padding: 15px 0px;
}

.img-author a,
.footer a{
    color: inherit;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    background-color: #f0f0f0;
}

.form-header {
    padding-left: 50px;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 500;
    width: 80%;
}

.form-panel {
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    column-gap: 100px;
    background-color: white;
    box-shadow: 0px 3px 8px rgb(187, 187, 187);
    padding: 30px 50px;
    margin-bottom: 30px;
}

.form-panel h2{
    flex-basis: 100%;
    font-weight: 500;
}

.form-container {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
}

.form-container label{
    font-size: 12px;
    font-weight: 500;
    color: #464646;
    margin-bottom: 2px;
    letter-spacing: 2px;
}

.form-container input{
    outline: none;
    border: 1px solid #E5E7EB;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
}

.form-container input:focus{
    border: 1px solid blue;
    box-shadow: 1px 1px 3px gray;
}

.form-container input:focus:invalid{
    border-color: red;
    box-shadow: none;
}

.form-button{
    padding-left: 50px;
}

.form-button button{
    font-size: 18px;
    font-weight: bold;
    padding: 15px 50px;
    color: white;
    background-color: #596D48;
    border-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin-bottom: 30px;
    cursor: pointer;
}

.form-button p{
    font-size: 17px;
}

.form-button span{
    color:#596D48;
    font-weight: 800;
    cursor: pointer;
}

.passError{
    color: red;
    font-size: 12px;
    font-weight: 300;
    padding: 3px 10px;
    margin-top: 5px;
}

.footer{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 20px 20px 0px;
    color: rgb(43, 43, 43);

}

#github-logo{
    color: black;
    font-size: 22px;
    margin-right: 10px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}
#github-logo:hover{
    transform: scale(1.1) rotate(360deg);
    transition: transform 0.3s ease-in-out;
}

.footer a{
    font-weight: bold;
}
